footer.footer
  .container
    .row
      .col-lg-12
        ul.list-inline
          li
            a(href="#") Documentation
          li
            a(href="#") Developer API
          li
            a(href="#") FAQ
          li
            a(href="#") Terms & Conditions
    p.text-muted
      span.kitchen kitchen
      |  &copy 2015
