nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header
        button(
            ng-init="navCollapse = true",
            ng-click="navCollapse = !navCollapse"
        ).navbar-toggle
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand.kitchen(ui-sref="app.home") kitchen
    div(ng-class="!navCollapse && 'in'").navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
            li(ng-class="{ 'active': ('app.projects' | includedByState)}")
                a(ui-sref="app.projects") Projects
            li(ui-sref-active="active")
                a(ui-sref="app.people") People
            li(ui-sref-active="active")
                a(ui-sref="app.everything") Everything
