.row
	.col-lg-3.col-lg-push-9
		h5 Filter by sprint
		ul.nav.nav-pills.nav-stacked
			li.active
				a(href="#")
					| Sprint 2 
					span.badge.pull-right 10
			li
				a(href="#")
					| Sprint 1 
					span.badge.pull-right 12
			li
				a(href="#")
					| Backlog 
					span.badge.pull-right 40
		hr
		h5 Filter stories by status
		ul.nav.nav-pills.nav-stacked
			li
				a(href="#")
					| All  
					span.badge.pull-right 10
			li.active
				a(href="#")
					| Open  
					span.badge.pull-right 5
			li
				a(href="#")
					| In progress  
					span.badge.pull-right 0
			li
				a(href="#")
					| Closed  
					span.badge.pull-right 5
		hr
		button(ng-click="vm.board = !vm.board").btn.btn-block.btn-default Toggle view
		hr
	.col-lg-9.col-lg-pull-3
		.panel.panel-default(ng-hide="vm.board")
			.panel-body
				h4.page-header Sprint 2 
				small.text-muted  20/10/2015 to 7/11/2015
				img(src="http://www.igniteui.com/help/images/igsparkline_overview_11.png").img-responsive
				.sprint-meta
					span.label.label-primary 10 stories
					span.label.label-default 25 pts
					span.label.label-success + 5
					span.label.label-danger - 5
					span.label.label-warning 7 days left
		.row(ng-hide="vm.board")
			.col-xs-12(ng-repeat="story in vm.stories")
				.panel.panel-default
					.panel-body
						.row
							.col-xs-6
								span.label-label-default #
								|{{::story.id}} 
								a(href="#") {{::story.name}}
							.col-xs-6.text-right
								span.label.label-default 5
			.col-xs-12.text-center
				button.btn.btn-default Load more
		.row.agile-board(ng-if="vm.board")
			.col-lg-3.swimlane
				h5.page-header.text-center Open
				.row(ng-repeat="item in [1,2,3,4,5,6]")
					.col-lg-12
						.panel.panel-default
							.panel-body
								span.label-label-default # {{$index}}
								| 
								a(href="#") Test
			.col-lg-3.swimlane
				h5.page-header.text-center In progress
				.row(ng-repeat="item in [1,2,3,4,5,6,8,9,10]")
					.col-lg-12
						.panel.panel-default
							.panel-body
								span.label-label-default # {{$index}}
								| 
								a(href="#") Test
			.col-lg-3.swimlane
				h5.page-header.text-center Ready to test
				.row(ng-repeat="item in [1,2,3,4]")
					.col-lg-12
						.panel.panel-default
							.panel-body
								span.label-label-default # {{$index}}
								| 
								a(href="#") Test
			.col-lg-3.swimlane
				h5.page-header.text-center Closed
				.row(ng-repeat="item in [1,2,3,4,5,6,7,8,9]")
					.col-lg-12
						.panel.panel-default
							.panel-body
								span.label-label-default # {{$index}}
								| 
								a(href="#") Test
		hr

