.row
	.col-lg-3.col-lg-push-9
		h5 Filter discussions
		ul.nav.nav-pills.nav-stacked
			li(ui-sref-active="active")
				a(ui-sref="app.project.discussions.recent") Recent
			li(ui-sref-active="active")
				a(ui-sref="app.project.discussions.all") All
			li(ui-sref-active="active")
				a(ui-sref="app.project.discussions.archived") Archived
		hr
	.col-lg-9.col-lg-pull-3
		.row
			ui-view
