.col-xs-12(ng-repeat="discussion in vm.discussions")
	.panel.panel-default
		.panel-body
			.row
				.col-xs-7.col-lg-9
					a(href="#") {{::discussion.name}}
				.col-xs-5.col-lg-3
					.discussion-meta.text-right
						span.label.label-success {{::discussion.status}}
						span.label.label-default {{::discussion.comments}}
.col-xs-12.text-center
	button.btn.btn-default Load more
