.row
    .col-lg-3.col-lg-push-9
        h5 Filter by team
        ul.nav.nav-pills.nav-stacked
            li.active
                a(href="#") Client team
            li
                a(href="#") Our team
        hr
        h5 Invite someone to this team
        input(placeholder="Email address", type="email").form-control
        hr
    .col-lg-9.col-lg-pull-3
        .row
            .col-xs-6.col-lg-3(ng-repeat="person in vm.people | filter: search")
                .person.text-center.thumbnail
                    img.img-rounded(width="100%", src="/images/user.png")
                    .caption.text-center
                        p
                            a(href="#") {{::person.name}}
