div(ui-view="main")
.container.projects
    .row
        .col-md-12
            .panel.panel-default
                .panel-body
                    .btn-toolbar
                        .row
                            .col-xs-6
                                .btn-toolbar
                                    .btn-group
                                        button.btn.btn-success Add new project
                            .col-xs-6
                                .btn-group.pull-right
                                    input.form-control(type='text', ng-model="search", placeholder='Search')
    .row(ng-show="vm.favourites.length")
        .col-xs-12.col-lg-3(ng-repeat="project in vm.favourites | filter: search")
            .thumbnail
                .caption
                    span.label.label-default 5 discussions
                    h4
                        a(ui-sref="app.project.discussions.recent({ project: project.id })") {{::project.name}}
                    p
                        img.img-responsive(src="http://www.igniteui.com/help/images/igsparkline_overview_11.png")
    .row
        .col-lg-3.col-lg-push-9
            h5 Filter projects
            ul.nav.nav-pills.nav-stacked
                li
                    a(href="#") Favorites
                li.active
                    a(href="#") Recent
                li
                    a(href="#") All
                li
                    a(href="#") Archived
            hr
        .col-lg-9.col-lg-pull-3
            .row.agenda
                .col-xs-12(ng-repeat="(key, projects) in vm.projects | filter: search | groupBy: 'key'")
                    h5.page-header {{::key}}
                    .row(ng-repeat="project in projects")
                        .col-xs-9 
                            p
                                a(ui-sref="app.project.discussions.recent({ project: project.id })") {{::project.name}}
                        .col-xs-3
                            p.text-right
                                span.label.label-default 5 discussions
        
