.container.project
	.row
		.col-lg-12
			span.label.label-success {{vm.project.tag}}
			h4.page-header {{vm.project.name}}

			p {{vm.project.description}}
			hr
		.col-lg-12
			ul.nav.nav-pills
				li(ui-sref-active="active")
					a(ui-sref="app.project.discussions") Discussions
				li(ui-sref-active="active")
					a(ui-sref="app.project.agile") Agile
				li(ui-sref-active="active")
					a(ui-sref="app.project.people") People
				li(ui-sref-active="active")
					a(ui-sref="app.project.settings") Settings
		.col-lg-12
			hr
			ui-view
