ui-view
.container.projects
	.row
		.col-md-12
			.panel.panel-default
				.panel-body
					.btn-toolbar
						.row
							.col-xs-6
								.btn-group
									a.btn.btn-default Tile
									a.btn.btn-default List
							.col-xs-6
								.btn-group.pull-right
									input.form-control(type='text', ng-model="search", placeholder='Search')
	.row
		.col-xs-12.col-lg-3(ng-repeat="project in vm.favourites | filter: search")
			.thumbnail
				.caption
					span.label.label-warning {{::project.tag}}
					h4
						a(ui-sref="app.project({ id: project.id })") {{::project.name}}
					p
						img.img-responsive(src="https://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg")
					p {{::project.description}}
					p
						img(width="25", src="https://cdn.shopify.com/s/files/1/0031/3912/products/lioli_gravatar_large.png?v=1272419141").img-circle.people
						img(width="25", src="https://cdn.shopify.com/s/files/1/0031/3912/products/lioli_gravatar_large.png?v=1272419141").img-circle.people
						img(width="25", src="https://cdn.shopify.com/s/files/1/0031/3912/products/lioli_gravatar_large.png?v=1272419141").img-circle.people
						img(width="25", src="https://cdn.shopify.com/s/files/1/0031/3912/products/lioli_gravatar_large.png?v=1272419141").img-circle.people
						img(width="25", src="https://cdn.shopify.com/s/files/1/0031/3912/products/lioli_gravatar_large.png?v=1272419141").img-circle.people
						img(width="25", src="https://cdn.shopify.com/s/files/1/0031/3912/products/lioli_gravatar_large.png?v=1272419141").img-circle.people
						img(width="25", src="https://cdn.shopify.com/s/files/1/0031/3912/products/lioli_gravatar_large.png?v=1272419141").img-circle.people
	.row.list
		.col-lg-12
			hr
		.col-xs-12(ng-repeat="(key, projects) in vm.projects | filter: search | groupBy: 'key'")
			h6.index {{::key}}
			hr
			div(ng-repeat="project in projects")
				h5
					a(ui-sref="app.project({ id: project.id })") {{::project.name}}
				hr
