.col-lg-9.col-lg-pull-3
	.panel.panel-default(ng-show="vm.sprint")
		.panel-body
			h4.page-header Sprint {{vm.sprint.id}} 
			small.text-muted  20/10/2015 to 7/11/2015
			img(src="http://www.igniteui.com/help/images/igsparkline_overview_11.png").img-responsive
			.sprint-meta
				span.label.label-primary 10 stories
				span.label.label-default 25 pts
				span.label.label-success + 5
				span.label.label-danger - 5
				span.label.label-warning 7 days left
			hr
			.btn-toolbar
				.btn-group
					button.btn.btn-default Start print
					button.btn.btn-default Stop print
				.btn-group
					button.btn.btn-danger Delete
	.row
		.col-xs-12(ng-repeat="story in vm.stories")
			.panel.panel-default
				.panel-body
					.row
						.col-xs-6
							span.label-label-default #
							|{{::story.id}} 
							a(href="#", ng-click="story[$index] = ! story[$index]") {{::story.name}}
						.col-xs-6
							.discussion-meta.text-right
								span.label.label-primary {{::story.priority}}
								span.label.label-warning {{::story.points}}
								span.label.label-default 0
					.row.story(ng-show="story[$index]")
							.col-lg-12
								hr
								p{{::story.description}}
