.col-lg-9.col-lg-pull-3
  ui-view
  h4(ng-hide="vm.sprint") Project backlog
  h4(ng-show="vm.sprint") Sprint {{vm.sprint.id}}
  .panel.panel-default
    .panel-body
      .sprint-meta
        span.label.label-primary {{vm.stories.length}} stories
        span.label.label-default 25 pts
        span.label.label-success + 5
        span.label.label-danger - 5
        span.label.label-warning 7 days left
      hr(ng-show="vm.sprint")
      .row(ng-show="vm.sprint")
        .col-xs-6
          .btn-group.btn-group-sm
            button.btn.btn-danger Delete
        .col-xs-6
          .btn-toolbar.pull-right
            .btn-group.btn-group-sm
              button.btn.btn-default Start
              button.btn.btn-default End
            .btn-group.btn-group-sm
              a(ui-sref="app.project.agile.sprint.board").btn.btn-default Board
  
  ul(dnd-list="vm.stories").list-unstyled.stories
    li(
      ng-repeat="story in vm.sprint.stories",
      dnd-draggable="story",
      dnd-moved="vm.stories.splice($index, 1)",
      dnd-selected="vm.selected = story"
    )
      story-card
