.projects {
	& .tabs > .tab-pane {
		background: @white;
		padding: 10px;
	}
	.star {
		color: #DDD;
	}
	.agenda {
		.page-header {
			margin-top: 15px;
		}
		.agenda-project {
			border-bottom: 1px solid #EEE;
		}
	}
}

.project {
	.page-header {
		margin-top: 10px;
	}
	.sprint-meta {
		.label {
			margin-right: 10px;
		}
	}
}
