@white: #FFF;
@background: #f9f9f9;
@main: #4caf50;
@accent: lighten(@main, 15%);
@padding: 10px;

@import "../../bower_components/bootstrap-less/less/bootstrap";
@import "../../bower_components/font-awesome/less/font-awesome";
@import url("//fonts.googleapis.com/css?family=Lobster");
@import (inline) "../../bower_components/angular-loading-bar/build/loading-bar.css";
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");
@import './partials/nav';
@import './home/home';
@import './projects/projects';
@import './everything/everything';
.dropzone {
  min-height: 400px;
}
h1, h2, h3, h4, h5, h6 {
    color: #666;
    font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: #F9F9F9;
}
p {
    color: #777;
}
.kitchen {
    letter-spacing: -1px;
    font-weight: 700;
    font-family: 'Montserrat';
}
.navbar-default {
    background: @white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.navbar-default .navbar-collapse {
    border: none;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#loading-bar .bar {
  background: @main;
}
#loading-bar .peg {
  -moz-box-shadow: @main 1px 0 6px 1px;
  -ms-box-shadow: @main 1px 0 6px 1px;
  -webkit-box-shadow: @main 1px 0 6px 1px;
  box-shadow: @main 1px 0 6px 1px;
}

.person {
  .caption {
    margin-top: 10px;
  }
  margin-bottom: 20px;
}

.label,
.badge {
  font-family: Arial;
  font-weight: normal;
  text-transform: uppercase;
}
ul[dnd-list] {
  min-height: 100px;
}
ul[dnd-list] .dndPlaceholder {
  display: block;
  border: 2px dashed #CCC;
  border-radius: 4px;
  min-height: 42px;
}
ul[dnd-list] {
  margin: 15px 0;
}

hr {
  margin: 10px 0;
}

.nav .dndDragover {
  background: #DDD;
}

div.navbar-collapse.collapse {
    display: block;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height .3s ease;
    -moz-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
    overflow: hidden;
    max-height: 10000px;
}
