.container.home
    .row
        .col-md-12
            .jumbotron
                h1.kitchen kitchen
                h2 The best place to bake all your projects
                h3 Project management that you'll love

                p.btn-toolbar
                    a.btn.btn-default.btn-lg Learn more
.container.home
    .row
        .col-lg-4
            h4.text-center Agile management
            p.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolores, possimus corrupti saepe nemo. Sint aut veritatis distinctio, quae saepe nihil culpa labore accusamus quasi est et perferendis excepturi. Qui!
        .col-lg-4
            h4.text-center Integrated calendar
            p.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque incidunt commodi, ab tempore excepturi aperiam! Est laboriosam et quod repudiandae, nam voluptatibus, beatae optio? Sint quae iusto repudiandae dolor praesentium.
        .col-lg-4
            h4.text-center Email comments
            p.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt deleniti nisi magnam in possimus officiis minima veniam magni nesciunt eos maxime mollitia vel, dolorem quibusdam excepturi omnis enim aliquam saepe.
