.container.home
    .row
        .col-md-12
            .jumbotron
                h1 kitchen
                p
                  | The place to bake all your projects
                  br
                  small.text-muted Project management that you'll love

                p.btn-toolbar
                    a.btn.btn-default.btn-lg Learn more
.container
    .row.text-center
        .col-lg-4
            h4 Agile management
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolores, possimus corrupti saepe nemo. Sint aut veritatis distinctio, quae saepe nihil culpa labore accusamus quasi est et perferendis excepturi. Qui!
        .col-lg-4
            h4 Integrated calendar
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque incidunt commodi, ab tempore excepturi aperiam! Est laboriosam et quod repudiandae, nam voluptatibus, beatae optio? Sint quae iusto repudiandae dolor praesentium.
        .col-lg-4
            h4 Email comments
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt deleniti nisi magnam in possimus officiis minima veniam magni nesciunt eos maxime mollitia vel, dolorem quibusdam excepturi omnis enim aliquam saepe.
